body{

margin:0;

font-family:Arial;

background:#f0f2f5;

}

nav{

background:#1877f2;

color:white;

padding:15px 40px;

display:flex;

justify-content:space-between;

align-items:center;

}

nav a{

color:white;

text-decoration:none;

font-weight:bold;

}

.container{

display:flex;

justify-content:center;

gap:40px;

margin-top:40px;

}

.card{

background:white;

width:350px;

padding:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.1);

}

.card h3{

text-align:center;

}

.card h1{

text-align:center;

color:#1877f2;

}

ul{

list-style:none;

padding:0;

}

li{

padding:10px;

border-bottom:1px solid #ddd;

}
li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
}

li button{
    background:#1877f2;
    color:white;
    border:none;
    padding:6px 12px;
    border-radius:6px;
    cursor:pointer;
}

li button:hover{
    background:#145dbf;
}