<!DOCTYPE html>
<html>
<head>
    <title>Edit Profile</title>
</head>

<body>

<h2>Edit Profile</h2>
{% load static %}

<link rel="stylesheet" href="{% static 'css/editprofile.css' %}">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Profile Picture</label><br>
    <input type="file" name="profile_pic"><br><br>

    <label>Profession</label><br>
    <input type="text"
           name="profession"
           value="{{ profile.profession }}"><br><br>

    <label>Location</label><br>
    <input type="text"
           name="location"
           value="{{ profile.location }}"><br><br>

    <label>Website</label><br>
    <input type="url"
           name="website"
           value="{{ profile.website }}"><br><br>

    <label>Phone</label><br>
    <input type="text"
           name="phone"
           value="{{ profile.phone }}"><br><br>

    <label>Bio</label><br>

    <textarea
        name="bio"
        rows="5"
        cols="40">{{ profile.bio }}</textarea>

    <br><br>

    <button type="submit">
        Save Profile
    </button>

</form>

</body>
</html>